{% extends 'village/base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to Haladigadia Village</h1>
    <p>Discover the beauty and tradition of our village.</p>

    <div class="overview-section mt-4">
        <h2>Overview</h2>
        <p>
            Haladigadia Gram Panchayat is a Rural Local Body in Korei Panchayat Samiti, part of Jajapur Zila Parishad.
            There are a total of 7 villages under Haladigadia Gram Panchayat jurisdiction. Gram Panchayat Korei is
            further divided into 11 wards. Gram Panchayat Korei has a total of 8 schools and employs 15 full-time government employees.
        </p>
    </div>
</div>
{% endblock %}
